include "skynet.config"
root = "$ROOT/"
logservice = "mmlogger"
thread = 8
harbor = 0
standalone = nil
start = "main"
luaservice = root .. "test/?.lua;" .. root .. "service/?.lua;" .. luaservice
lua_path = root .. "lib/?/init.lua;" .. root .. "lib/?.lua;" .. lua_path
lua_cpath = root .. "lib/c/?.so;" .. lua_cpath
cpath = root .. "service/c/?.so;" .. cpath

logpath = root .. "bin"
if $DAEMON then
	logger = root .. "run/skynet.log"
	daemon = root .. "run/skynet.pid"
end
